# AVS Prosperity Environment Variables
VITE_GOOGLE_PLACE_ID=your_google_place_id_here
VITE_GOOGLE_API_KEY=your_google_maps_api_key_here
VITE_GOOGLE_REVIEWS_WIDGET_ID=2779c1b9-0412-413a-9d7c-96a3ccdcaa58
VITE_INSTAGRAM_WIDGET_ID=23e9b06d-4e43-4a5d-8de9-8c5e771c7a42
